<<<<<<< HEAD
.box {
  width: 500px;
  border: 2px solid #000;
  text-align: center;
  margin: 20px;
}
.item-img {
  width: 400px;
}
.main {
  display: flex;
  justify-content: center;
=======
img {
  width: 567px;
  height: 567px;
>>>>>>> 54751035aa8e4f7de3d81c9bb22d73ffad7fbd58
}
